<header class="modal-header">
    <h1>Estás seguro de que quieres eliminar este tag?</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    {{#if this.tag.post_count}}
        <span class="red">This tag is attached to {{this.tag.count.posts}} {{this.postInflection}}.</span>
    {{/if}}
    Estás a punto de borrar "<strong>{{this.tag.name}}</strong>". ¡Esto es permanente! Te lo advertimos, ok?
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancelar</span></button>
    <GhTaskButton @buttonText="Delete" @successText="Deleted" @task={{this.deleteTag}} @class="gh-btn gh-btn-red gh-btn-icon" />
</div>
