<header class="modal-header">
    <h1>Estás seguro de que quieres eliminar este {{this.post.displayName}}?</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Cerrar</span></a>

<div class="modal-body">
    <p>
        Estás a punto de borrar "<strong>{{this.post.title}}</strong>". ¡Esto es permanente! Te lo advertimos, ok?
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancelar</span></button>
    <GhTaskButton @buttonText="Delete" @successText="Deleted" @task={{this.deletePost}} @class="gh-btn gh-btn-red gh-btn-icon" />
</div>
